.name {
  color: rgb(0, 0, 0);
  margin: 0;
  font-weight: 600;
}

.icon {
  margin-right: 5px;
}

.box {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.number {
  margin: 0;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  max-height: 40px;
  padding: 16px;
  margin-left: auto;
}
