.toggleBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color); /* Иконка будет менять цвет в зависимости от темы */
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleBtn:hover {
  background-color: transparent;
  color: #ff4081; /* Цвет иконки при наведении */
  box-shadow: none;
  transform: scale(1.1); /* Увеличение иконки при наведении */
}

.toggleBtn:focus {
  box-shadow: none;
  background-color: transparent;
  outline: none; /* Убираем стандартное обрамление при фокусе */
  color: #ff4081; /* Цвет иконки при фокусе */
}
